@{
}

<p>外来人员登记</p>

<form action="~/Duty/sign_in_stranger" method="post">
    证件号：<input type="text" name="p_id" /><br />
    姓名：<input type="text" name="name" /><br />
    进入时间：<input type="text" name="in_time" /><br />
    离开时间：<input type="text" name="out_time" /><br />
    缘由：<input type="text" name="type" /><br />
    <input type="submit" value="登记" />
</form> 