@{
    ViewData["Title"] = "主页";
    ViewBag.Ref = "home";
}

<div class="text-center">
    <h1>宿舍管理系统</h1>
</div>
<div class="text-right">
    <p>Index</p>
</div>
<div>
    <button type="button" class="btn-block btn-info" style="width:50%;text-align:center;margin:auto" onclick="Login()">登录</button>
</div>
<br />

