@{
    ViewData["Title"] = "住宿名单更改";
    ViewData["Ref"] = "manager";
}

<form action="/manager/changestudent" method="post">
    <div class="form-group">
        请输入学生学号：<input class="form-control" type="text" name="id" /><br />
    </div>
    <div class="form-group">
        请输入学生的楼房号和房间号：<input class="form-control" type="text" name="bed" /><br />
    </div>
    <input class="btn-block btn-dark" type="submit" value="确定" />
</form>
