@{ 
    ViewBag.Ref = "manager";
    ViewBag.Title = "管理员";
}

<p>管理员</p>
<div>
    <button onclick="manageentrance()" class="btn-block btn-info myButton">管理门禁权限</button><br />
    <button onclick="searchemptybed()" class="btn-block btn-info myButton">查询空床位</button><br />
    <button onclick="changetable()" class="btn-block btn-info myButton">更改住宿名单</button><br />
    <button onclick="showstudenttable()" class="btn-block btn-info myButton">查看学生信息</button><br />
    <button onclick="showunpaymenttable()" class="btn-block btn-info myButton">查看未缴费学生名单</button>
</div>
