@{
    ViewData["Title"] = "查询空床位";
    ViewData["Ref"] = "managers";
}

<ol class="breadcrumb">
    <li><a href="/Manager">主页</a><span style="padding:5px">/</span></li>
    <li class="active">查询空床位</li>
</ol>
<table class="table myTable">
    <thead>
        <tr>
            <th scope="col">楼房</th>
            <th scope="col">房间号</th>
            <th scope="col">剩余人数</th>
            <th scope="col">性别</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in ViewBag.Rooms)
        {
            var leftNumber = 4 - room["live_in_number"];
            <tr>
                <td>@room["building"]</td>
                <td>@room["room_number"]</td>
                <td>@leftNumber</td>
                <td>@room["sex"]</td>
            </tr>
        }
    </tbody>
</table>
