@{
    ViewData["Title"] = "查看未缴费学生名单";
    ViewData["Ref"] = "managers";
}

<ol class="breadcrumb">
    <li><a href="/Manager">主页</a><span style="padding:5px">/</span></li>
    <li class="active">查看未缴费学生名单</li>
</ol>
<table class="table myTable">
    <thread>
        <tr>
            <th class="col">学号</th>
            <th class="col">姓名</th>
            <th class="col">催缴</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var student in ViewBag.Students)
        {
            <tr>
                <th class="row">@student["id"]</th>
                <td>@student["name"]</td>
                <td>@student["charge_urge"]</td>
            </tr>
        }
    </tbody>
</table>
