@{
    ViewData["Title"] = "查看未缴费学生名单";
    ViewData["Ref"] = "manager";
}

<table>
    <thread>
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>是否已催缴</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var student in ViewBag.Students)
        {
            <tr>
                <th>@student["id"]</th>
                <td>@student["name"]</td>
                <td>@student["charge_urge"]</td>
            </tr>
        }
    </tbody>
</table>
